.buttonWrap {
    display: flex;
    justify-content: center;
}

.summaryWrap {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding: 0 20px;
    gap: 10px;
}