.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
}

.cart {
    transition: opacity 0.2s ease-in-out;
}

.cart:hover {
    opacity: 0.7;
}

.badge {
    background-color: #646cff;
    color: black;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.cartLink {
    display: flex;
    align-items: center;
    gap: 10px;
}